$themeColor:#0f74a3;
#globalNavBlock{
	position: relative;
	margin:0 30px;
	.globalNav__header{
		font-size:0;
	}
	.globalNav__Logo{
		display: inline-block;
		vertical-align: middle;
		padding:6px 0;
	}
	.globalNav__menuList{
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		margin-left: 60px;
		.cell{
			display: inline-block;
		}
		.link{
			text-decoration: none;
			font-size:16px;
			color: $themeColor;
			padding:0 5px 0 5px;
			margin:0 11px;
			display: block;
			line-height: 50px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				height:4px;
				width:100%;
				background-color: $themeColor;
				left:0;
				bottom:-4px;
				display: block;
				transition:bottom 0.2s ease-in-out;
			}
			&.current{
				&:after{
					bottom:-1px;
				}
			}
			&:hover{
				&:after{
					bottom:-1px;
				}
			}
		}
	}
	.globalNav__side{
		position: absolute;
		&.left{
			left: -30px;
			top: 0;
			width:auto;
			text-align: center;
			transform: rotate(180deg);
			.copyright{
				color: $themeColor;
				font-size:12px;
				writing-mode: vertical-rl;
				line-height: 30px;
				margin:0 2px 0 0;
				height: 100%;
			}
		}
		&.right{
			width:30px;
			right:-30px;
			top:0;
			text-align: center;
			.buttons{
				$buttonAmount:3;
				$buttonSize:8;
				$margin:12;
				line-height: 30px;
				height: $margin*($buttonAmount + 1)+$buttonSize * $buttonAmount + px;
				list-style: none;
				position: absolute;
				margin:auto;
				top:0;
				right:0;
				bottom:0;
				left:0;
			}
			.button{
				width:8px;
				height:8px;
				background-color: #c6d1e2;
				border-radius: 50%;
				margin:12px auto;
				cursor: pointer;
				&.current{
					background-color: $themeColor;
				}
			}
		}
	}
}

@import "globalNavi_sp";