include ./mixin

block vars
	-var dir_root = ""
	-var title = ""
	-var description = ""
	-var keywords = ""
	-var current = ""
-var imgPath = "./images/"
-var commonPath = dir_root + "common/"
doctype
html
	head
		meta(charset='utf-8')
		title #{title}
		+settingViewPort('fixed', 1200)
		meta(property='og:title',content=title)
		meta(property='og:site_name',content='あいまいもこ')
		meta(property='og:description',content=description)
		meta(property='og:image',content='http://aimaimoko.sakura.ne.jp/common/images/ogimage.png')
		meta(property='og:url',content='http://aimaimoko.sakura.ne.jp')
		+importStyleSheet(commonPath + 'css/reset.css')
		+importStyleSheet(commonPath + 'css/common.css')
		+importJavascript(commonPath + 'js/lib.js')
		+importJavascript(commonPath + 'js/common.js')
		block css
		block js
	body
		#loading
			.sk-cube-grid
				.sk-cube.sk-cube1
				.sk-cube.sk-cube2
				.sk-cube.sk-cube3
				.sk-cube.sk-cube4
				.sk-cube.sk-cube5
				.sk-cube.sk-cube6
				.sk-cube.sk-cube7
				.sk-cube.sk-cube8
				.sk-cube.sk-cube9
		#caution
			p.notice.
				当サイトは画面を横向きにしてお楽しみください。
		#main
			#globalNavBlock
				include parts/globalNav_header
				include parts/globalNav_left
				#contents
					include parts/bgArea
					#contentMain(class=current)
						block contents
				include parts/globalNav_right
				include parts/globalNav_footer