include ./mixin

block vars
	-var dir_root = ""
	-var title = ""
	-var description = ""
	-var keywords = ""
	-var current = ""
-var imgPath = "./images/"
-var commonPath = dir_root + "common/"
doctype
html
	head
		meta(charset='utf-8')
		title あいまいもこ
		+importStyleSheet(commonPath + 'css/reset.css')
		+importStyleSheet(commonPath + 'css/common.css')
		+importJavascript(commonPath + 'js/lib.js')
		+importJavascript(commonPath + 'js/common.js')
		block css
		block js
	body
		#main
			#globalNavBlock
				include parts/globalNav_header
				include parts/globalNav_left
				#contents
					include parts/bgArea
					#contentMain
						block contents
				include parts/globalNav_right
				include parts/globalNav_footer