extends ./common/pug/template

block vars
   -var dir_root = "./"
   -var title = "あいまいもこ | TOP"
   -var description = "あいまいもこオフィシャルウェブサイト。アーティストプロフィール、作品紹介、リリース情報など。"
   -var keywords = ""
   -var current = "top"
block css
   +importStyleSheet('./css/index.css')
   +importJavascript('./js/index.js')
block contents
   #top
      .top__noticeArea
         p.subhead.en 『2018年 ライブ情報』
         p.detail
            span.date 2/4（日）
            span.text チャチャタウン小倉
         p.detail
            span.date 2/19（月）
            span.text 清川 Utero