extends ./common/pug/template

block vars
   -var dir_root = "./"
   -var title = "あいまいもこ | TOP"
   -var description = "あいまいもこオフィシャルウェブサイト。アーティストプロフィール、作品紹介、リリース情報など。"
   -var keywords = ""
   -var current = "top"
block css
   +importStyleSheet('./css/index.css')
   +importJavascript('./js/index.js')
block contents
   #top
      .top__noticeArea
         p.subhead.en UPDATE
         p.detail
            span.date 2017.08.08
            span.text ホームページを公開しました。