extends ../common/pug/template

block vars
    -var dir_root = "../"
    -var title = "あいまいもこ"
    -var description = ""
    -var keywords = ""
    -var current = "about"
block css
    +importStyleSheet('./css/index.css')
block contents
    #about
        .inner
            h1.about__title.en ABOUT
            .about__visual
                +img(imgPath + 'about_visual.jpg', alt="")
            .about__intro
                p.logo
                    +img(imgPath + 'about_aimaimoco_logo.png', alt="あいまいもこ")
                .descriptionArea
                    p.description.
                        あいまいもこの紹介文が入ります。あいまいもこの紹介文が入ります。あいまいもこの紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。
                    p.description.
                        Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.
            .about__member
                h2.title.en
                    span.line.left
                        include ./images/about_member_line_left.svg
                    span.text MEMBER
                    span.line.right
                        include ./images/about_member_line_right.svg
                ul.memberList
                    li.member
                        .visual
                        .introduction
                            p.inChargeOf Guitar
                            p.name
                                span.jp 名前　名前
                                span.en Name Name
                            p.description
                                span.jp.
                                    バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。（最大100文字）
                                span.en.
                                    text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.（最大200文字）
                    li.member
                        .visual
                        .introduction
                            p.inChargeOf Guitar
                            p.name
                                span.jp 名前　名前
                                span.en Name Name
                            p.description
                                span.jp.
                                    バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。（最大100文字）
                                span.en.
                                    text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.（最大200文字）
                    li.member
                        .visual
                        .introduction
                            p.inChargeOf Guitar
                            p.name
                                span.jp 名前　名前
                                span.en Name Name
                            p.description
                                span.jp.
                                    バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。（最大100文字）
                                span.en.
                                    text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.（最大200文字）
                    li.member
                        .visual
                        .introduction
                            p.inChargeOf Guitar
                            p.name
                                span.jp 名前　名前
                                span.en Name Name
                            p.description
                                span.jp.
                                    バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。（最大100文字）
                                span.en.
                                    text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.（最大200文字）
                    li.member
                        .visual
                        .introduction
                            p.inChargeOf Guitar
                            p.name
                                span.jp 名前　名前
                                span.en Name Name
                            p.description
                                span.jp.
                                    バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。バンドメンバーの紹介文が入ります。（最大100文字）
                                span.en.
                                    text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.text.（最大200文字）

                                