extends ../common/pug/template

block vars
    -var dir_root = "../"
    -var title = "あいまいもこ"
    -var description = ""
    -var keywords = ""
    -var current = "about"
block css
    +importStyleSheet('./css/index.css')
block contents
    #about
        .inner
            h1.about__title.en ABOUT
            .about__visual
                +img(imgPath + 'about_visual.jpg', alt="")
            .about__intro
                p.logo
                    +img(imgPath + 'about_aimaimoco_logo.png', alt="aいまいもこ")
                .descriptionArea
                    p.description.
                        あいまいもこの紹介文が入ります。あいまいもこの紹介文が入ります。あいまいもこの紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。紹介文が入ります。
                    p.description.
                        Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.Aimaimoko at introduction text enters.