@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "parts/globalNavi/globalNavi";

body{
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	min-width:1280px;
}
.en{
	font-family: 'Roboto', sans-serif;
	&.bold{
		font-weight:bold;
	}
}

#contents{
	width:100%;
	background-color: #0f74a3;
	.bgArea{
		position: relative;
		.bg{
			position: absolute;
			font-size:0;
			top: 0;
			left:0;
			width:100%;
			img{
				width:100%;
			}
		}
	}
}